<nav>
        <ul>
        <li>
            <a href="home.php" data-title="Projects">Home</a>
        </li>
        <li>
            <a href="../controllers/logout.php?logout=1" data-title="Settings">Sair</a>
        </li>
     
        <!-- <li>
            <a href="javascript:void(0);" data-title="Team">Team</a>
        </li>
        <li>
            <a href="javascript:void(0);" data-title="Diary">Diary</a>
        </li>
        <li>
            <a href="javascript:void(0);" data-title="Timeline">Timeline</a>
        </li>
        <li>
            <a href="javascript:void(0);" data-title="Settings">Settings</a>
        </li>
        <li>
            <a href="javascript:void(0);" data-title="penis">penis</a>
        </li>
        </ul> -->
    </nav>